.launch-lists {
    background-color:rgba(180, 180, 180, 0.616);
    width: 90%;
    height: 90%;
    margin: 2rem auto;
    /* text-align: center; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.launch-lists .container {
    background: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(225,225,225,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    
}

.launch-lists h1 {
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: #e4e4e4;
}



.launch-lists h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.launch-lists .search-container {
    width:80% ;
    margin: 0 auto;
    position: relative;
    height: 3rem;
}

.launch-lists .search-label {
    transition: all 1s ease;
    font-size: calc(10px + 1vw);
    transform: translateY(-15px);
    display: block;
    z-index: -1;
}

.launch-lists .search-textbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    min-width: 150px;
    border: none;
    border-bottom: 1px solid gray;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    background: none;
    transition: width ease-in 200ms;
}


.search-textbox:focus,
.search-textbox:not(:placeholder-shown).search-textbox:not(:focus){
    width: 100%;
    border-bottom: 1px solid gray;
}

.search-textbox:focus ~ .search-label,
.search-textbox:not(:placeholder-shown).search-textbox:not(:focus) ~ .search-label{
    font-size: clamp(12px,calc(2px + 1vw),calc(2px + 1vw));
    transform: translateY(-20px);
}



.launch-lists .sub-container {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3rem;
    width: 80%;
    min-width: 50vw;
    margin: 2rem auto;
    background-color:white;
    cursor: pointer;
}

.launch-lists .details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 15px;
    transition: all ease 1s;
    position: relative;
}

.launch-lists .details::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in;
}

.launch-lists .details:hover:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: 0;
   
}

.launch-lists .details:hover {
    transform: scale(1.025) translateY(-10px);
    z-index: 1;
}

.launch-lists .details-right {
    text-align: left;
    margin-left: 20px;
}

.launch-lists .details-right div > span, a {
    font-size: calc(8px + 1vw);
}


.launch-lists .details-right .see-more{
    color: rgb(0, 0, 0);
    position: relative;
}

.launch-lists .details-right .see-more:hover::after{
    content: "←";
    position: absolute;
    z-index: 2;
    top: 0;
    color: red;
    animation: arrow 1s ease-in-out 0.05s infinite;
}

@keyframes arrow{
    0%{
        content: "←";
      }
      50%{
        content: " ";
      }
      100%{
        content: "←";
      }
  }

.launch-lists .details-right div:nth-of-type(1) {
   font-size: calc(8px + 1vw);
}

.launch-lists .details-right div:nth-of-type(2) {
   font-size: calc(3px + 1vw);
   color: rgb(174, 174, 177);
 }


 @media (max-width: 535px) {
    .launch-lists,
    .launch-lists .container {
        width: 100%;
        margin: 0;
     }
    .launch-lists .sub-container {
       width: 100%;
    }
    .launch-lists .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    }
    .launch-lists .details-right .see-more:hover::after{
        position: static;
    }
 }